html, body {
	font-family: sans-serif;
	magin:0;
	width: 50%;
	height: 100%;
}

div {
	padding-right: 30px;
	padding-left: 30px;
	width: 100%;
}

.main {
	padding left: 40px;
	min-width: 75%;
}

h1 {
	color: red;
	font-size:100px;
	border: 2px solid black;

}


