.jumbotron {
	background-image: url(/images/flowers.jpg);
	background-size: cover;
	height: 700px;
	
	
}

.row {
	font-size: 30px;
	color: #fff;
}

:link {
	color: #fff;
}

:visited {
	color: #fff;
}
