html, body {
	font-family: sans-serif;
	margin: 0;
	width: 50%;
	height: 100%;
}

.main {
	padding-left: 40px;
	min-width: 75%;
}

h1 {
	font-size: 80px;
	border: 2px solid black;
}


