/* NEW-MOBILE-FIRST */

* {
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #E6CAF3;  /* or #EAEAEA */
  /* color: #E7B8FD; */
  /* color: #E6CAF3; */
  color: #444444;
  width: 100%;
  height: auto;

}

body {
  height: 100%;
}

h1 {
  font-size: 3em;
  font-weight: 400;
}

h2 {
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #444444;
  font-weight: 400;
}

h3 {
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

a {
  color: #444444;
  outline: none;
  text-decoration: none;
}

a:link {
  color: #444444;
}

a:visited {
  color: #444444;
}

a:hover {
  color: #FFF700;
}

a:active {
  color: #FFF700;
}

li {
  font-size: 3em;
  font-weight: 400;
}

p {
  font-size: 3em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

picture {
  display: flex;
  width: 100%;
  margin: 0 auto;
  /* position: absolute; */
  /* top: 0px; */
}

.img-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  /* object-fit: contain; */
}

/* .recipe-img {
  display: block;
  width: 100%;
  height: auto;
} */

.info {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 50px;
  /* ^^^Removed 500px from 'top' position for this recipe_menu_stylesheet  */
}



.info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.link-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}





/* MOBILE STYLES */

@media only screen and (max-width: 767px) {

  .info {
    top: 40px;
    /* ^^^Removed 340px from 'top' position for this recipe_menu_stylesheet  */
  }

  .title {
    margin-bottom: 20px;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
  }

  .link-wrapper {
    padding: 0px 30px;
    /* max-width: 480px; */
  }

  h1 {
    font-size: 2em;
    color: #444444;  /* #E6CAF3; */
  }

  h2 {
    font-size: 2em;
    color: #444444;  /* #E6CAF3; */
    border-bottom: 2px solid #444444;
  }

  h3 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  li {
    font-size: 2em;
    color: #444444;  /* #E6CAF3; */
  }

  p {
    font-size: 2em;
    color: #444444;  /* #E6CAF3; */

  }

}



/* TABLET STYLES */

@media only screen and (min-width: 768px) and (max-width: 959px) {

  .info {
    top: 40px;
    /* ^^^Removed 560px from 'top' position for this recipe_menu_stylesheet  */
  }

  h1 {
    font-size: 8em;
    color: black;
  }

  h2 {
    font-size: 3em;
    color: black;
  }

  h3 {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
  }

  li {
    font-size: 3em;
    color: black;  /* #E6CAF3; */
  }

  p {
    font-size: 3em;
    color: black;  /* #E6CAF3; */
  }

}
